//FONTS

$font-family-sans-serif: "Manrope", sans-serif;
$font-weight-regular: 500;
$font-weight-bold: 700;
$font-size: 13px;

//COLORS

$color-primary: hsl(217, 19%, 35%);
$color-secondary: hsl(214, 17%, 51%);
$color-tertiary: hsl(212, 23%, 69%);
$color-quaternary: hsl(210, 46%, 95%);
$color-white: hsl(0, 0%, 100%);

//BREAKPOINTS

$breakpoint-mobile: 375px;
$breakpoint-desktop: 1440px;
