@use "variables" as *;
@use "mixins" as *;

@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Manrope:wght@200..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  padding: 5rem;
  font-family: $font-family-sans-serif;
  min-height: 100vh;
  overflow: hidden;
  @include flex(column, center, center);
  background-color: $color-quaternary;
  @include mobile {
    padding: 2rem;
    overflow: auto;
  }
}

main {
  width: 100%;
  max-width: 1200px;
  display: grid;
  grid-template-columns: 35% 65%;
  gap: 2rem;
  border-radius: 1rem;
  background-color: $color-white;
  @include mobile {
    grid-template-columns: 1fr;
    gap: 0;
    height: 90vh;
  }
}

section.left {
  width: 100%;
  overflow: hidden;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  @include mobile {
    border-radius: 1rem 1rem 0 0;
  }

  img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    transform: scale(1.5);
    @include mobile {
      width: fit-content;
    }
  }
}

.right {
  width: 100%;
  padding: 3rem;
  @include flex(column, flex-start, start);
  gap: 2rem;

  &__bottom {
    display: flex;
    justify-content: space-between;
    @include mobile {
      width: 100%;
    }
    width: 90%;
    align-items: center;
    flex-direction: row-reverse;

    .share {
      display: flex;
      gap: 1rem;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      cursor: pointer;
      width: 5rem;
      height: 5rem;
      position: relative;

      &__Icon {
        width: 6rem;
        height: 6rem;
        background-color: $color-quaternary;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: all 0.3s;
        @include mobile {
          width: 4rem;
          height: 4rem;
          z-index: 3;
        }
      }

      &__Icon img {
        @include mobile {
          width: 2rem;
          height: 2rem;
          z-index: 4;
        }
        width: 3rem;
        height: 3rem;
      }

      &__Box {
        position: absolute;
        width: 40rem;
        top: -12rem;
        right: -17.5rem;
        border-radius: 2rem;
        background-color: $color-primary;
        padding: 3rem;
        z-index: 1;
        @include mobile {
          display: block;
          position: absolute;
          top: -1.7rem;
          height: 10rem;
          right: -3rem;
          width: 90vw;
          border-radius: 0 0rem 2rem 2rem;
        }

        &::after {
          content: "";
          position: absolute;
          bottom: -10px; /* Üçgenin kutudan ne kadar aşağıda olacağı */
          left: 50%; /* Üçgeni yatayda ortala */
          transform: translateX(-50%);
          width: 0;
          height: 0;
          border-left: 10px solid transparent;
          border-right: 10px solid transparent;
          border-top: 10px solid #48556a;
          @include mobile {
            display: none;
          }
        }

        &__Inner {
          display: flex;
          gap: 3rem;
          flex-direction: row;
          align-items: center;
          justify-content: center;
        }

        span {
          font-size: 2rem;
          letter-spacing: 1rem;
          text-transform: uppercase;
          color: $color-secondary;
          cursor: pointer;
          transition: all 0.3s;
        }

        .facebook img,
        .twitter img,
        .pinterest img {
          width: 3rem;
          height: 3rem;
        }
      }
    }
  }

  h1 {
    font-size: 3.5rem;
    font-weight: $font-weight-bold;
    color: $color-primary;
    margin-bottom: 2rem;
    @include mobile {
      font-size: 1.5rem;
    }
  }

  p {
    font-size: 2rem;
    color: $color-secondary;
    margin-bottom: 2rem;
    @include mobile {
      font-size: 1.4rem;
    }
  }
}

.author {
  @include flex(row, flex-start, center);
  img {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    margin-right: 1rem;
    @include mobile {
      width: 4rem;
      height: 4rem;
    }
  }

  &-info {
    h2 {
      font-size: 1.6rem;
      font-weight: $font-weight-bold;
      color: $color-primary;
      margin-bottom: 0.5rem;
      @include mobile {
        font-size: 1.2rem;
      }
    }

    p {
      font-size: 1.5rem;
      opacity: 0.7;
      color: $color-secondary;
      @include mobile {
        font-size: 1rem;
      }
    }
  }
}
